.breadcrumb {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumb-item {
    font-size: 14px;
    color: var(--textColor);
}

.breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-item a {
    text-decoration: none;
    color: inherit;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) { /* Адаптация для телефонов */
    .breadcrumb-item {
        font-size: 12px; /* Уменьшаем шрифт для телефонов */
    }

    .breadcrumb {
        flex-wrap: wrap; /* Делаем breadcrumb компоненты переносимыми */
        gap: 4px; /* Уменьшаем расстояние между элементами */
    }
}

@media (min-width: 576px) and (max-width: 768px) { /* Адаптация для планшетов */
    .breadcrumb-item {
        font-size: 13px; /* Уменьшаем шрифт для планшетов */
    }

    .breadcrumb {
        flex-wrap: wrap; /* Делаем breadcrumb компоненты переносимыми */
        gap: 6px; /* Увеличиваем расстояние между элементами */
    }
}
