.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 80px;
    background-color: white; /* Белый фон */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между логотипом и текстом */
}

.logo-image {
    width: 50px;
    height: auto;
    color: var(--buttonColor);
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text text {
    font-size: 16px;
    color: var(--buttonColor);
    font-weight: 800;
}

.full-screen-menu .offcanvas {
    width: 100% !important; /* Перекрыть всю ширину */
    height: 100% !important; /* Перекрыть всю высоту */
    background-color: #fff; /* Фон меню */
}

.full-screen-menu .offcanvas-header {
    border-bottom: 1px solid #ddd;
}

.full-screen-menu .menu-item {
    font-size: 16px;
    font-weight: bold;
    color: var(--textColor);
    text-decoration: none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}


@media (max-width: 992px) {
    .menu-item {
        font-size: 16px; /* Уменьшаем текст для мобильных */
    }
}
