.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 80px;
    background-color: white; /* Белый фон */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между логотипом и текстом */
}

.logo-image {
    width: 50px;
    height: auto;
    color: var(--buttonColor);
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text text {
    font-size: 16px;
    color: var(--buttonColor);
    font-weight: 800;
}

.full-screen-menu .offcanvas {
    width: 100% !important; /* Перекрыть всю ширину */
    height: 100% !important; /* Перекрыть всю высоту */
    background-color: #fff; /* Фон меню */
}

.full-screen-menu .offcanvas-header {
    border-bottom: 1px solid #ddd;
}

.full-screen-menu .menu-item {
    font-size: 16px;
    font-weight: bold;
    color: var(--textColor);
    text-decoration: none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}


/* Мобильное меню */
@media (max-width: 1024px) {
    .menu-toggle {
        display: block; /* Показываем бургер-меню только на маленьких экранах */
    }

    .d-lg-none {
        display: block !important;
    }

    .d-lg-flex {
        display: none !important;
    }
}

/* Для больших экранов (1024px и выше) */
@media (min-width: 1025px) {
    .menu-toggle {
        display: none; /* Скрываем бургер-меню */
    }
}


/* Стили для мобильного меню */
.mobile-menu {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    z-index: 9999;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
}


.mobile-menu.open {
    opacity: 1;
    visibility: visible;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    color: var(--buttonColor);
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu-content a {
    font-size: 20px; /* Крупный текст */
    font-weight: bold;
    color: var(--buttonColor);
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.menu-content a:hover {
    color: var(--buttonColor);
}
