.search {
    width: 200px; /* Делаем форму поиска адаптивной */
    height: 40px;
    border-radius: 12px;
    border-color: var(--buttonColor);
}

@media (max-width: 576px) { /* Адаптация для телефонов */
    .search {
        width: 100%; /* Полная ширина для телефонов */
    }

    .custom-button-shop {
        width: 40px; /* Уменьшаем ширину кнопки для телефонов */
        height: 40px; /* Высота остаётся прежней */
    }
}

@media (min-width: 576px) and (max-width: 768px) { /* Адаптация для планшетов */
    .search {
        width: 80%; /* Увеличиваем ширину до 80% для планшетов */
    }

    .custom-button-shop {
        width: 40px; /* Увеличиваем ширину кнопки для планшетов */
        height: 40px; /* Высота остаётся прежней */
    }
}
