.promo-page {
    padding: 50px 20px;
    background: white;
}

.promo-header h1 {
    color: var(--buttonColor);
}

.promo-header p {
    color: var(--textColor);
    max-width: 600px;
    margin: 0 auto;
}

.route-card {
    background: linear-gradient(135deg, #f7f7f7, #e0e0e0);
    width: 350px;
    height: 230px;
}

.route-card:hover {
    transform: translateY(-5px);
}

/* Адаптивность для планшетов (ширина от 768px до 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
    .promo-page {
        padding: 40px 15px;
    }

    .promo-header p {
        max-width: 500px;
    }

    .route-card {
        width: 250px;
        height: 250px;
    }


}

/* Адаптивность для телефонов (ширина до 768px) */
@media (max-width: 768px) {
    .promo-page {
        padding: 30px 10px;
    }

    .promo-header h1 {
        font-size: 24px;
    }

    .promo-header p {
        max-width: 100%;
        font-size: 14px;
    }

    .route-card {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
}
