.form-auth {
    border-radius: 12px;
    border-color: var(--buttonColor);
    box-shadow: none;
}

.form-auth:focus {
    border-color: var(--buttonColor);
    box-shadow: 0 0 8px rgba(220, 53, 69, 0.6);
}
